<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body> <!-- Thymeleaf 3.1은 더 이상 HttpServletRequest 액세스를 제공하지 않아 HttpServlet#getRemoveUser()를 사용할 수 없다. -->
    <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out">
    </form>
</body>
</html>